<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../css/styles.css">
	
<head>
	 <title>SOCIAL PRACHAR</title>

</head>

<body>
	<div class="wrapper">
		<header>
		<h1>PROJECT</h1>	
		</header>
		<nav>
			<ul>
			<li> <a href="#">HOME</a> </li>	
			 <li><a href="#">About</a></li>
		 	<li>	<a href="#">Services</a></li>
			 <li>	<a href="#">Contact</a> </li>
			</ul>
		</nav>

		<div class="slider">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSfjNxyoz75RG6s3TAlHqfgGTbcDTVoUEZpDOfTnDw&s" alt="try">
		</div>
	<div class="section">


	</div>	

	</div>


<footer>	
</footer>
</body>
</html>
